doctype html
html(lange="en")
  head
    title RyanHBurbank
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Ryan Burbank's personal website")
    meta(name="keywords" content="Ryan Burbank software code programmer programming engineer")
    meta(name="author" content="Ryan Burbank")

  body
    .container

      header.
        Hello World
